.Sidebar {
    width: 97px;
    height: 807px;
    background: #5B5CE2;
    line-height: 120px;
    position: fixed;


    .logo {
        width: 49px;
        height: 32px;
        


    }
}


@media screen and (max-width:400px) {
    .Sidebar {
       display: none;

    }

}